@font-face {
  font-family: "iconfont"; /* Project id 3930829 */
  src: url('iconfont.woff2?t=1678155757147') format('woff2'),
       url('iconfont.woff?t=1678155757147') format('woff'),
       url('iconfont.ttf?t=1678155757147') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhixiangdakai18:before {
  content: "\e62c";
}

.icon-position:before {
  content: "\e60b";
}

.icon-tubiaozhizuo-:before {
  content: "\e605";
}

.icon-xiangyou1:before {
  content: "\e775";
}

.icon-sousuo:before {
  content: "\e614";
}

